@model IEnumerable<_23dh113832.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">Danh Sach Danh Muc </h2>


<table class="table bg-info col-md-6 ">
    <tr>
        <th class="bg-success col-md-4">
            @*Html.DisplayNameFor(model => model.CategoryName)*@
            Ten Danh Muc
        </th>
        <th>class="bg-success col-md-2"</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Sua ", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Xoa", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Them moi", "Create",null,new {@class ="btn btn-primary "})
</p>